<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <table class="table table-hover">
        <h3>게시판</h3>
<!--        <form class="form-inline d-flex justify-content-end" method="GET", th:action="@{/getLis?page=0&size=10}" th:value="${param.searchText}">-->
<!--            <div class="form-group mx-sm-3 mb-2 pull-right">-->
<!--                <label for="searchText" class="sr-only">검색</label>-->
<!--                <input type="text" class="form-control" id="searchText" name="searchText">-->
<!--                <button type="submit" class="btn btn-primary mb-2">검색 </button>-->
<!--            </div>-->
<!--        </form>-->
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${boards}">
            <td th:text="${post.id}"></td>
            <td><a th:href="@{'/post/postContent/' + ${post.id}}"><span th:text="${post.title}"></span></a></td>
            <td th:text="${post.dateTime}"></td>
            <td th:text="${post.account.nickname}"></td>
            <td th:text="${post.countVisit}"></td>
        </tr>
        </tbody>
    </table>

    <hr/>
    <div class="containe">
        <div class="row">
            <div class="col">
                <p><strong>페이지</strong></p>
                <ul class="pagination" th:if="${totalPage != 0}">
                    <li class="page-item"><a class="page-link" th:href="@{/post/getList(page=${boards.pageable.pageNumber - 1}, searchText=${param.searchText})}">이전</a></li>
                    <li class="page-item" th:classappend="${page == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:href="@{/post/getList(page=${page - 1}, searchText=${param.searchText})}" th:text="${page}"> </a>
                    </li>
                    <li class="page-item"><a class="page-link" th:href="@{/post/getList(page=${boards.pageable.pageNumber + 1}, searchText=${param.searchText})}">다음</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


</body>
</html>