<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <table class="table table-hover">
        <h3>게시판</h3>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-info" th:each="post2 : ${notice}">
            <td class="col-1" th:text="${post2.id}"></td>
            <td>
                <a th:href="@{'/post/postContent/' + ${post2.id}}">
                    <span class="col-4" th:text="'공지 : '+ ${post2.title}"></span>
                </a>
            </td>
            <td class="col-2" th:text="${post2.dateTime}"></td>
            <td class="col-2" th:text="${post2.account.nickname}"></td>
            <td class="col-1" th:text="${post2.countVisit}"></td>
        </tr>

        <tr th:each="post : ${boards}">
            <td class="col-1" th:text="${post.id}"></td>
            <td>
                <a th:href="@{'/post/postContent/' + ${post.id}}">
                <span class="col-4" th:text="${post.title}"></span>
                </a>
            </td>
            <td class="col-2" th:text="${post.dateTime}"></td>
            <td class="col-2" th:text="${post.account.nickname}"></td>
            <td class="col-1" th:text="${post.countVisit}"></td>
        </tr>
        </tbody>
    </table>

    <hr/>
    <div class="row justify-content-center">
        <div class="row">
            <div class="col">
                <ul class="pagination" th:if="${totalPage != 0}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/post/getList(page=${boards.pageable.pageNumber - 1}, searchText=${param.searchText})}">이전</a>
                    </li>
                    <li class="page-item" th:classappend="${page == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:href="@{/post/getList(page=${page - 1}, searchText=${param.searchText})}" th:text="${page}"> </a>
                    </li>
                    <li class="page-item"><a class="page-link" th:href="@{/post/getList(page=${boards.pageable.pageNumber + 1}, searchText=${param.searchText})}">다음</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


</body>
</html>