<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-3">
            <h2> </h2>
            <h2>사용기술 : Spring boot, JPA, Bootstrap, mariaDB</h2>
            <a href ="https://github.com/hwangwooh/hwh_community"><h2>git : https://github.com/hwangwooh/hwh_community</h2></a>


        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>
</body>
</html>