<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: raid-menu"></div>
        </div>
        <div class="container col-8">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-md-3" th:each="raid: ${raids.getContent()}">
                        <div class="card mb-4 shadow-sm" >
                            <div class="card-body">
                                <a class="text-decoration-none" th:href="@{'/raid/raid-hom/' + ${raid.id}}">

                                    <h5 class="card-title context" th:text="${raid.title}"></h5>
                                </a>
                                <p class="card-text" th:utext="${raid.shortDescription}">Short description</p>
                                <p class="card-text context">
                                    <span class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                        <a class="text-decoration-none text-white">
                                            <i class="fa fa-tag"></i> <span th:text="${raid.tag}">Tag</span>
                                        </a>
                                    </span>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">
                                        <i class="fa fa-user-circle"></i>
                                        <span th:text="${raid.members.size() + '/' + raid.maximum }"></span>명
                                    </small>

                                    <small class="text-muted date"
                                           th:text="${#temporals.format(raid.publishedDateTime, 'yyyy-MM-dd HH:mm:ss')}"></small>
                                </div>
                            </div>

                            <div class="card-footer"  th:if="${raid.published == false}">
                               모집 완료
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!raids.hasPrevious()}? disabled">
                                <a th:href="@{'/raid/list-raid/me?' + '&sort=' + ${sortProperty} + ',desc&page=' + ${raids.getNumber() - 1}}"
                                   class="page-link" tabindex="-1" aria-disabled="true">
                                    이전
                                </a>
                            </li>

                            <li class="page-item" th:classappend="${i == raids.getNumber()}? active"
                                th:each="i: ${#numbers.sequence(0, raids.getTotalPages() - 1)}">
                                <a th:href="@{'/raid/list-raid/me?' + '&sort=' + ${sortProperty} + ',desc&page=' + ${i}}"
                                   class="page-link" href="#" th:text="${i + 1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${!raids.hasNext()}? disabled">
                                <a th:href="@{'/raid/list-raid/me?' + '&sort=' + ${sortProperty} + ',desc&page=' + ${raids.getNumber() + 1}}"
                                   class="page-link">
                                    다음
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div th:replace="fragments.html :: raid-list-game(currentMenu='lost')"></div>
        </div>
    </div>


</div>

    <div th:replace="fragments.html :: footer"></div>

</body>
</html>